/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Page Layout */
body {
  background-color: #1e1e1e;
  color: white;
}

/* ---------- NAVBAR ---------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #121212;
  position: sticky;
}

nav h2 {
  color: #00b4ff;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav ul li {
  cursor: pointer;
}

nav button {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  background-color: #2c2c2c;
  color: white;
  border-radius: 4px;
}

/* ---------- MAIN CONTENT ---------- */
main {
  text-align: center;
  align-content: center;
  height: 90vh;
}

main p {
  color: #bdbdbd;
}

/* ---------- FOOTER ---------- */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #121212;
  font-size: 14px;
  color: #bdbdbd;
}
.dark {
  background-color: black;
  color: rgb(252, 249, 249);
}

.light {
  background-color: white;
  color: black;
}
.light nav {
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.light main p {
  color: black;
}
.light footer {
  background-color: #b3a8a8;
  color: black;
}
